$menu-bgr: rgba(52, 52, 52, .98);
$scroll-btn-bgr: rgba(52, 52, 52, .4);
$modal-bgr: rgba(0, 0, 0, .8);
$gold: #d2b583;
$font-biggest: 'Playfair Display SC', serif;
$font-smallest: 'Cormorant Garamond', serif;
$dark-gray: #343434;
$light-gray: #dddddd;
$light-blue: #fbfbff;
$b-gray: #6c757d;
$b-border: #dde2e6;

.paragraph {
  font-family: $font-smallest;
  font-size: 24px;
  font-weight: 500;
}

.button-white {
  background: $light-gray;
  border-radius: 5px;
  color: $dark-gray;
  font-weight: 900;
  padding: 3px 15px;
}

.logo-top {
  color: $gold;
  font-size: 20px;
  text-decoration: none;

  &:hover {
    color: $gold;
    text-decoration: none;
  }
}
