@import "../variables";

.wrapper {
  align-items: center;
  background: $dark-gray;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  width: 100%;

  .gold {
    border-bottom: 1px solid white;
    font-family: $font-biggest;
    font-size: 32px;
    margin-bottom: 20px;
  }

  a {
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  .address-point {
    display: flex;
    align-items: center;
    margin: 10px 0;

    svg {
      margin-right: 10px;
    }
  }

  .gray {
    color: gray;
    cursor: pointer;

    a {
      color: gray;
    }
  }
}