@import "../../shared/variables";

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 15px 30px 15px;

  a {
    text-decoration: none;
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }

  h3 {
    padding-top: 10px;
  }

  h3, p {
    text-align: center;
  }

  .prev-img {
    background-size: contain;
    cursor: pointer;
    width: 100%;

    .img-hover {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: .3s;

      &:hover {
        opacity: 1;
      }

      a {
        color: white;
        width: 100%;

        &:first-child {
          border-bottom: 1px solid white;
          font-family: $font-biggest;
        }

        p {
          padding: 8px;
        }
      }
    }
  }
}