@import "../Main.module.scss";

.albums {

  .album {
    display: flex;
    justify-content: space-between;
    
    .panel {
      border-bottom: 1px solid gray;
      display: flex;
      align-items: center;
      height: 30px;
      width: 100%;

      .left-side {
        display: flex;
        align-items: center;
      }
    }

    .arrows {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-right: 10px;
    }
  }

  .priority-btns {
    display: flex;
    padding: 0 15px;
    margin-bottom: 10px;

    button {
      
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
