@import "../../../shared/variables";

.wrapper {
  background: $modal-bgr;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  .form-wrapper {
    background: white;
    border-radius: 5px;
    padding: 20px;
    width: 33%;
    min-width: 300px;

    input, textarea {
      width: 100%;
    }

    p {
      margin: 0;
    }

    .error {
      color: red;
    }

    .btns {
      display: flex;
      justify-content: space-between;
    }
  }
}