@import "../../variables";

.wrapper {
  background: $modal-bgr;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;

  .img-wrapper {
    max-height: 90vh;
    max-width: 90vw;

    img {
      max-height: 90vh;
      max-width: 100%;
      box-shadow: 4px 4px 9px black;
    }
  }
}