@import "../../shared/variables";

.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  padding: 30px 0;

  h1 {
    text-align: center;
  }

  .p-wrapper {
    text-align: center;

    p {
      font-family: $font-smallest;
      font-size: 24px;
      font-weight: 500;
    }
  }
}
